*.obj
*.idb
*.pdb
miniRender/miniRender/x64/Debug/miniRender.tlog/unsuccessfulbuild
*.lastbuildstate
*.tlog
*.obj
*.tlog
*.exe
miniRender/x64/Debug/BoxDemo.exe
miniRender/x64/Debug/miniRender.lib
*.log
*.ilk
*.sdf
miniRender/miniRender.sdf